@media screen and (max-width: 480px) {
  form {
    overflow: hidden;
  }
  #header_layout, .frame_1col_top {
    display: none;
  }
  .frame_1col {
    width: 100% !important;
    overflow: hidden;
  }
  .frame_1col_repeat {
    padding: 20px 0;
  }
  .frame_1col_repeat h2 {
    display: block !important;
    padding-left: 20px !important;
    font-size: 20px !important;
    height: 40px !important;
  }
  .frame_1col_repeat h2:before {
    content: "「复旦学生网 2014 招新」";
  }
  #aboutus_content {
    height: inherit !important;
    width: 100% !important;
    padding-left: 0 !important;
  }
  #aboutus_content > div {
    width: 100% !important;
    height: inherit !important;
    padding-left: 20px;
  }
  #aboutus_content > div > div:nth-child(1) {
    width: inherit !important;
    height: inherit !important;
    float: none !important;
  }
  #aboutus_content > div > div:nth-child(2) {
    width: inherit !important;
    height: inherit !important;
    float: none !important;
  }
  .text_msg {
    font-size: 13px;
  }
  .text_tab {
    font-size: 18px;
    margin: 10px 0;
  }
  input[type=text], select {
    height: 30px !important;
    width: 300px !important;
    font-size: 15px;
    margin: 10px 0;
  }
  #Content_Gender {
    font-size: 18px;
  }
  .text_msg {
    margin: 20px 0;
    padding-right: 40px;
  }
  textarea {
    width: 300px !important;
  }
  #footer_layout {
    display: none;
  }
  .container_app_temp_buttonbar {
    margin-left: -20px;
    text-align: center !important;
  }
  #Content_LinkButton1 {
    float: none !important;
    display: inline-block !important;
  }
  .container_app_temp_buttonbar > a.container_app_temp_button_cancel {
    display: none !important;
  }
}